@import '../../colors.scss';

.pointer-row-container {
    position: relative;

    .pointer-name-row {
        width: 50%;
        text-align: center;
        margin: auto;

        .pointer-number {
            font-size: 14px;
        }
    }
    
    .story-name-delete-btn {
        z-index: 20;
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 2rem;
        height: 1.5rem;
        font-size: 17px;
        font-family: 'Montserrat';
        color: $primary;
        border: 0;
        background-color: #00000000;
        font-weight: 800;
        text-align: center;
        cursor: pointer;
    }
}

.pointer-row-container:nth-child(even) {
    background-color: #0000000a;
    border-radius: 20px;
}

.select-name-row {
    font-weight: 700;
}

@media only screen and (max-width: 768px) {

    .pointer-row-container {
        .pointer-name-row {
            width: 60%;
        }
    }
}