@import '../../colors.scss';

.select-container-bg-dark {
    width: 100%;
    height: 100vh;
    background-color: $tertiary;
    position: relative;
    transition: all 0.3s;
    pointer-events:none;
}

.select-container-bg-light {
    width: 100%;
    height: 100vh;
    background-color: $accent-light;
    position: relative;
    transition: all 0.3s;
    pointer-events:none;
}