@import '../../colors.scss';

.select-container-bg-dark {
    z-index: -11;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, $tertiary, $primary);
    position: relative;
    transition: all 0.3s;
}

.select-container-bg-light {
    z-index: -11;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(180deg, $secondary, $accent-light);
    position: relative;
    transition: all 0.3s;
}

.select-container-fg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}