@import '../../colors.scss';

.nav-container {
    z-index: 100;
    position: sticky;
    top: 0;
    left: 0;
    height: 10rem;
    background-color: $primary;
}

.nav-relative-container {
    position: relative;
    top: 0;
    left: 0;
}

.nav-container-gradient {
    z-index: 90;
    height: 11.5rem;
    background-image: linear-gradient(180deg, black, #00000000);
}

.nav-button-container {
    position: absolute;
    top: 0;
    left: 0;
}

.reg-btn {
    text-align: center;
    vertical-align: middle;
    font-size: larger;
    font-weight: bolder;
    height: 6rem;
    padding: 1.5rem;
    box-shadow: 2px 2px 0 0 $accent, 4px 4px 0 0 $accent, 6px 6px 0 0 $accent;
    border: 0;
    border-radius: 30px;
    background-color: $accent-light;
    color: $accent-dark;
    transition: all 0.2s ease;
}

.selected-btn {
    text-align: center;
    vertical-align: middle;
    font-size: x-large;
    font-weight: bolder;
    height: 6rem;
    padding: 1.75rem;
    border: 0;
    border-radius: 30px;
    background-color: $alert-success;
    color: black;
    transition: all 0.2s ease;
    -webkit-transform: translateY(6px);
	transform: translateY(6px);
}

.selected-btn:hover, .selected-btn:active {
    cursor: default;
}

.reg-btn:hover, .reg-btn:active {
    box-shadow: 0 0;
    -webkit-transform: translateY(6px);
	transform: translateY(6px);
    transition: 0.2s;
}

@media only screen and (max-width: 768px) {
    .nav-container {
        height: 6rem;
    }

    .nav-container-gradient {
        z-index: 90;
        height: 7.5rem;
        background-image: linear-gradient(180deg, black, #00000000);
    }

    .reg-btn {
        font-size: 1rem;
        font-weight: bold;
        height: 3rem;
        padding: 0.5rem;
    }

    .selected-btn {
        font-size: 1.25rem;
        font-weight: bold;
        height: 3rem;
        padding: 0.5rem;
    }

    .theme-btn {
        height: 3rem;
        padding: 0.5rem;
    }
}