@import '../../colors.scss';

.language-button-container {
    position: relative;

    .language-button {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 1rem;
        padding: 1.5rem;
        color: $accent-light;
        background-color: $primary;
        border: 0;
        box-shadow: 2px 2px 0 0 black, 4px 4px 0 0 black, 6px 6px 0 0 black;
        transition: all 0.3s ease;
    }

    .language-button:hover {
        box-shadow: 0 0;
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
        transition: all 0.3s ease;
    }
}
