@import '../../colors.scss';

.selected {
    margin: 0.25rem;
    text-align: left;
    vertical-align: middle;
    background-color: $accent-light;
    color: $accent-dark;
    padding: 0.5rem;
    border-radius: 5px;
    transition: all 0.3s ease;
    animation: box-glow-ani infinite 1s ease;
    font-weight: 500;
    font-size: 18px;
}

@keyframes box-glow-ani {
    0% {background-color: $accent-light;}

    50% {background-color: $glow;}

    100% {background-color: $accent-light;}
}

.non-selected {
    margin: 0.25rem;
    text-align: left;
    vertical-align: middle;
    background-color: $accent;
    color: $accent-dark;
    padding: 0.5rem;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.name-flex {
    padding-right: 1rem;
}

.non-selected:nth-child(odd) {
    background-color: $accent-tint;
}

.selected-dot {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 0.2rem solid $accent;
    border-radius: 50%;
    background-color: white;
    animation: dot-glow-ani infinite 1s ease;
}

@keyframes dot-glow-ani {
    0% {border: 0.2rem solid $glow;}

    50% {border: 0.2rem solid $accent;}

    100% {border: 0.2rem solid $glow;}
}

.non-selected-dot {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 0;
    border-radius: 50%;
    background-color: $accent-dark;
}

.name-row {
    vertical-align: middle;
}