@import '../../colors.scss';

.selected {
    position: relative;
    z-index: 1;
    margin: 0.25rem;
    text-align: left;
    vertical-align: middle;
    background-color: $accent-light;
    color: $accent-dark;
    padding: 0.5rem;
    border-radius: 5px;
    transition: all 0.3s ease;
    animation: box-glow-ani infinite 1s ease;
    font-weight: 500;
    font-size: 18px;
    box-shadow: 2px 2px 0 0 $accent, 4px 4px 0 0 $glow;
    -webkit-transform: translate(-6px, -6px);
	transform: translate(-4px, -4px);
}

@keyframes box-glow-ani {
    0% {background-color: $secondary;}

    50% {background-color: $glow;}

    100% {background-color: $secondary;}
}

.non-selected {
    position: relative;
    z-index: 1;
    margin: 0.25rem;
    text-align: left;
    vertical-align: middle;
    background-color: $accent;
    color: $accent-dark;
    padding: 0.5rem;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.name-flex {
    padding-right: 1rem;
}

.non-selected:nth-child(odd) {
    background-color: $accent-tint;
}

.selected-dot {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-top: 6px;
    border: 0.2rem solid $accent;
    border-radius: 50%;
    background-color: white;
    animation: dot-glow-ani infinite 1s ease;
}

@keyframes dot-glow-ani {
    0% {border: 0.2rem solid $glow;}

    50% {border: 0.2rem solid $accent;}

    100% {border: 0.2rem solid $glow;}
}

.non-selected-dot {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-top: 6px;
    border: 0;
    border-radius: 50%;
    background-color: $accent-dark;
}

.name-row {
    position: relative;
    vertical-align: middle;
}

.name-delete-btn {
    z-index: 2;
    position: absolute;
    top: 0.15rem;
    right: 0;
    width: 2rem;
    height: 1.5rem;
    font-size: 17px;
    font-family: 'Montserrat';
    color: $accent-dark;
    font-weight: 800;
    text-align: center;
    cursor: pointer;
}