@import '../../colors.scss';

.add-name-btn-container {
    position: relative;
    z-index: 1;
    margin: 0.25rem;
    text-align: center;
    vertical-align: middle;
    background-color: $accent-dark;
    width: 3rem;
    padding: 0.5rem;
    border-radius: 5px;
    transition: all 0.3s ease;
    color: $accent-light;
    cursor: pointer;
}

.add-name-btn {
    border: 0;
    vertical-align: middle;
    margin: 0.25rem 0;
    font-size: 30px;
    font-weight: 900;
    background-color: $accent-dark;
    transition: all 0.3s ease;
    
}

.add-name-btn-container:hover, .add-name-btn-container:active {
    color: white;
}