@import '../../colors.scss';

.point-data-container {
    z-index: 1;
    position: relative;
    background-color: $glow;
    border: 0;
    border-radius: 20px;
    width: 40rem;
    transition: all 0.3s ease;
    margin: auto;
    padding: 1rem 0 2rem;

    .story-delete-container {
        .story-delete-btn {
            position: absolute;
            top: 0.5rem;
            left: 0.25rem;
            width: 2rem;
            height: 1.5rem;
            font-size: 15px;
            font-family: 'Montserrat';
            color: $primary;
            border: 0;
            background-color: #00000000;
            font-weight: 800;
            text-align: center;
            cursor: pointer;
        }
    }

    h1 {
        padding: 1rem 13rem 0 3rem;
        text-align: left;
        color: $accent-dark;
        font-size: 40px;
        font-weight: 400;
    }

    .edit-name-container {
        padding: 0.5rem 13rem 0 3rem;
        text-align: left;
        color: $accent-dark;
        font-size: 40px;
        font-weight: 400;

        .edit-text {
            padding: 0.5rem 1rem;
            border: 0;
            border-radius: 20px;
            box-shadow: inset 0 20px 20px #00000022;
            background-color: $glow;
        }

        .edit-submit-btn {
            margin: 0 1rem;
            padding: 1rem 2rem !important;
            font-size: 20px;
            border: 0;
            border-radius: 20px;
            background-color: $alert-success;
            color: $primary;
            font-weight: 700;
            box-shadow: 2px 2px $primary, 4px 4px $primary;
            transition: all 0.2s ease;
        }
        
        .edit-submit-btn:hover, .edit-submit-btn:active {
            transform: translate(4px, 4px);
            box-shadow: 0 0;
            transition: all 0.2s ease;
        }

        .edit-cancel-btn {
            margin: 0 1rem;
            padding: 1rem 2rem !important;
            font-size: 20px;
            border: 0;
            border-radius: 20px;
            background-color: $alert-error;
            color: $primary;
            font-weight: 700;
            box-shadow: 2px 2px $primary, 4px 4px $primary;
            transition: all 0.2s ease;
        }
        
        .edit-cancel-btn:hover, .edit-cancel-btn:active {
            transform: translate(4px, 4px);
            box-shadow: 0 0;
            transition: all 0.2s ease;
        }
    }

    .edit-point-container {
        position: relative;
        padding: 0 !important;
        text-align: left;
        color: $accent-dark;
        font-size: 20px;
        font-weight: 700;

        .edit-number {
            padding: 0.5rem !important;
            border: 0;
            border-radius: 20px;
            box-shadow: inset 0 20px 20px #00000022;
            background-color: $accent;
        }

        .edit-point-submit-btn {
            margin: 0.25rem;
            padding: 0.5rem 1rem !important;
            font-size: 15px;
            border: 0;
            border-radius: 15px;
            background-color: $alert-success;
            color: $accent-dark;
            font-weight: 700;
            box-shadow: 2px 2px $accent-dark, 4px 4px $accent-dark;
            transition: all 0.2s ease;
        }

        .edit-point-submit-btn:hover, .edit-point-submit-btn:active {
            transform: translate(4px, 4px);
            box-shadow: 0 0;
            transition: all 0.2s ease;
        }

        .edit-point-cancel-btn {
            margin: 0.25rem;
            padding: 0.5rem 1rem !important;
            font-size: 15px;
            border: 0;
            border-radius: 15px;
            background-color: $alert-error;
            color: $accent-dark;
            font-weight: 700;
            box-shadow: 2px 2px $accent-dark, 4px 4px $accent-dark;
            transition: all 0.2s ease;
        }

        .edit-point-cancel-btn:hover, .edit-point-cancel-btn:active {
            transform: translate(4px, 4px);
            box-shadow: 0 0;
            transition: all 0.2s ease;
        }
    }

    p {
        text-align: center;
        font-size: 20px;
        padding: 0;
        margin: 0;
    }

    .join-btn-container {
        margin: 1rem auto 0;
        padding: 1rem;

        .join-btn {
            margin: 0 1rem;
            padding: 1rem 2rem !important;
            font-size: 20px;
            border: 0;
            border-radius: 20px;
            background-color: $accent;
            color: $accent-dark;
            font-weight: 700;
            box-shadow: 2px 2px $accent-dark, 4px 4px $accent-dark;
            transition: all 0.2s ease;
        }

        .join-btn:hover, .join-btn:active {
            transform: translate(4px, 4px);
            box-shadow: 0 0;
            transition: all 0.2s ease;
        }
    }

    .reveal-btn-container {
        margin: 1rem auto 0;
        padding: 1rem;
        
        .reveal-btn {
            margin: 0 1rem;
            padding: 1rem 2rem !important;
            font-size: 20px;
            border: 0;
            border-radius: 20px;
            background-color: $accent-tint;
            color: $accent-dark;
            font-weight: 700;
            box-shadow: 2px 2px $accent-dark, 4px 4px $accent-dark;
            transition: all 0.2s ease;
        }

        .reveal-btn:hover, .reveal-btn:active {
            transform: translate(4px, 4px);
            box-shadow: 0 0;
            transition: all 0.2s ease;
        }
    }

    .chosen-point-container {
        z-index: 10;
        position: absolute;
        top: -1rem;
        right: -1rem;
        font-size: 20px !important;
        font-weight: 700;
        border: 3px solid white;
        background-color: $accent;
        border-radius: 50%;
        padding: 1rem 1.5rem !important;
    }
    
    .average-points-container {
        z-index: 5;
        position: absolute;
        top: 2.7rem;
        right: -4rem;
        font-size: 15px;
        font-weight: 600;
        border: 2px solid white;
        background-color: $accent;
        border-radius: 20px;
        padding: 0.25rem 1rem;
    }

    .points-hr {
        text-align: center;
        width: 60%;
        margin: 1rem auto 0;
    }
}

.point-data-history-stretch {
    margin-bottom: 15rem;

    .point-data-history-container {
        z-index: 2;
        margin: 2rem auto 1rem;
        background-color: $accent-tint;
        color: $accent-dark;
        border-radius: 10px;
        padding: 1.5rem;
        width: 45rem;
    
        .story-header-container {
            margin: 0 !important;
            height: 2.5rem;
            padding: 1rem 0.5rem;
    
            h4 {
                vertical-align: middle;
                margin: 0;
            }
        }
    
        .story-row-selected {
            margin: 0;
            height: 2.5rem;
            border: 1px solid $glow;
            padding: 1rem 0.5rem;
            background-color: $glow;
            border-radius: 10px;
            box-shadow: 2px 2px 0 0 $accent-dark;
            transition: all 0.3s ease;
            transform: translate(-2px, -2px);
    
            p {
                padding: 1rem !important;
                vertical-align: middle;
                margin: 0;
                font-size: 16px;
                font-weight: 500;
            }
        }
    
        .story-row-unselected {
            margin: 0;
            height: 2.5rem;
            border: 1px solid $accent-dark;
            padding: 1rem 0.5rem;
            border-radius: 10px;
            background-color: $accent-tint;
            box-shadow: 2px 2px 0 0 $accent-dark;
            cursor: pointer;
            transition: all 0.3s ease;
    
            p {
                padding: 1rem !important;
                vertical-align: middle;
                margin: 0;
                font-size: 16px;
            }
        }
    
        .story-row-unselected:hover, .story-row-unselected:active {
            background-color: $accent;
            box-shadow: 0px 0px;
            border: 0;
            transform: translate(2px, 2px);
    
            p {
               color: $secondary;
            }
        }
    
        .history-hr {
            border: 1px solid $accent-dark;
            margin: 0rem 0 1rem;
            padding: 0;
            width: 100%;
        }
    }
}

.story-row-add-new {
    margin: 0;
    height: 2.5rem;
    padding: 1rem 0.5rem !important;
    border-radius: 10px;
    background-color: $accent-dark;
    box-shadow: 2px 2px 0 0 $accent-light;
    cursor: pointer;
    transition: all 0.3s ease;

    p {
        vertical-align: middle;
        color: $accent-light;
        margin: 0 0 0.5rem;
        font-size: 30px;
        font-weight: 800;
    }
}

.story-row-add-new:hover, .story-row-add-new:active {
    box-shadow: 2px 2px 0 0 white;

    p {
        color: $glow;
    }
}


@media only screen and (max-width: 768px) {
    
    .point-data-container {
        border-radius: 6px;
        width: 16rem;

        .story-delete-container {
            .story-delete-btn {
                top: 1rem;
                left: 0.5rem;
                width: 2rem;
                height: 1.5rem;
                font-size: 17px;
            }
        }

        h1 {
            font-size: 18px;
            text-align: center;
            padding: 1.5rem 2rem 0 0;
        }

        .edit-name-container {
            padding: 1.5rem 0 0 0;
            text-align: center;
            margin: auto !important;
            font-size: 18px;
    
            .edit-text {
                padding: 0rem 0.5rem;
                border-radius: 10px;
                box-shadow: inset 0 6px 5px #00000022;
                margin-bottom: 0.5rem;
            }
    
            .edit-submit-btn {
                padding: 0.5rem 1rem !important;
                font-size: 16px;
                border-radius: 10px;
                font-weight: 700;
            }
    
            .edit-cancel-btn {
                padding: 0.5rem 1rem !important;
                font-size: 16px;
                border-radius: 10px;
            }
        }

        .edit-point-container {
            padding: 1rem !important;
            text-align: center;
            font-size: 15px;
    
            .edit-number {
                display: block;
                margin: auto;
                padding: 0.5rem !important;
            }
    
            .edit-point-submit-btn {
                margin: 0.25rem;
                padding: 0.5rem !important;
                font-size: 12px;
            }
    
            .edit-point-cancel-btn {
                margin: 0.25rem;
                padding: 0.5rem !important;
                font-size: 12px;
            }
        }

        p {
            font-size: 13px;
        }

        .reveal-btn-container {
            margin: 0 auto 0;
            
            .reveal-btn {
                padding: 0.5rem 1rem !important;
                font-size: 20px;
                border-radius: 15px;
            }
    
            .reveal-btn:hover, .reveal-btn:active {
                transform: translate(4px, 4px);
                box-shadow: 0 0;
                transition: all 0.2s ease;
            }
        }

        .chosen-point-container {
            top: -0.5rem;
            right: -0.5rem;
            font-size: 18px;
            border: 2px solid $secondary;
            padding: 0.25rem 0.75rem;
        }

        .average-points-container {
            z-index: 5;
            position: absolute;
            top: -0.5rem;
            left: -2rem;
            right: auto;
            font-size: 10px;
            font-weight: 600;
            border: 2px solid $secondary;
            background-color: $accent;
            border-radius: 20px;
            padding: 3px 5px;
        }

        .join-btn-container {
            margin: 0.5rem auto 0;
            padding: 0.5rem;

            .join-btn {
                padding: 0.5rem 1rem !important;
                font-size: 16px;
                border-radius: 10px;
                font-weight: 700;
            }
    
            .view-btn {
                padding: 0.5rem 1rem !important;
                font-size: 16px;
                border-radius: 10px;
            }
        }
    }

    .point-data-history-stretch {
        .point-data-history-container {
            padding: 0.5rem;
            width: 16rem;
    
            .story-header-container {
                margin: 0;
                height: 2.5rem;
                padding: 1rem 0.5rem;
        
                h4 {
                    font-size: 11px;
                }
            }
        
            .story-row-selected {
                margin: 0;
                height: 2.5rem;
                padding: 1rem 0.5rem;
                border-radius: 10px;
                box-shadow: 2px 2px 0 0 $accent-dark, 4px 4px 0 0 $accent-dark;
        
                p {
                    vertical-align: middle;
                    margin: 0;
                    font-size: 11px;
                }
            }
        
            .story-row-unselected {
                margin: 0;
                height: 2.5rem;
                border: 1px solid $accent-dark;
                padding: 1rem 0.5rem;
                border-radius: 10px;
                box-shadow: 2px 2px 0 0 $accent-dark;
        
                p {
                    vertical-align: middle;
                    margin: 0;
                    font-size: 11px;
                }
            }
        }
    }
}