$primary: #232333;
$secondary: #efefff;
$tertiary: #454555;
$accent-light: #cfedff;
$accent-med-light: #76cbff;
$accent: #22aaff;
$accent-tint: #2cbdf7;
$accent-dark: #002266;
$glow: #ffeedd;
$secondary-med-light: #ffcc9d;

$alert-success: #66dfaa;
$alert-warning: #efef88;
$alert-error: #ef6677;

@font-face {
    font-family: 'Montserrat';
    src: url("./assets/Montserrat-Regular.ttf");
}