@import './colors.scss';

@media only screen and (min-width: 768px) {
    /* width */
    ::-webkit-scrollbar {
        width: 20px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: $secondary;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $accent;
        border-radius: 20px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: $accent-tint;
    }
}