@import '../../colors.scss';

.bottom-action-container {
    position: relative;
    z-index: 90;

    .bottom-action-enter {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 10rem;
        background-color: $primary;
        animation: bot-enter-ani 0.3s ease-out 0s 1;
    }

    .bottom-action-exit {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 10rem;
        background-color: $primary;
        animation: bot-exit-ani 0.3s ease-in 0s 1;
    }
}

@keyframes bot-enter-ani {
    from{transform: translateY(10rem); bottom: 0;}
    to{transform: translateY(0);}
}

@keyframes bot-exit-ani {
    from{transform: translateY(0rem);}
    to{transform: translateY(11rem); bottom: 11rem;}
}

.bottom-button {
    border: 0;
    border-radius: 15px;
    padding: 2rem;
    font-size: xx-large;
    color: $glow;
    background: $tertiary;
    box-shadow: 2px 2px 0 0 black, 4px 4px 0 0 black, 6px 6px 0 0 black;
}

.bottom-button:hover, .bottom-button:active {
    box-shadow: 0 0;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    transition: all 0.3s ease;
}

.randomize-button {
    border: 0;
    border-radius: 15px;
    padding: 2rem;
    font-size: xx-large;
    color: $glow;
    background: $tertiary;
    box-shadow: 2px 2px 0 0 black, 4px 4px 0 0 black, 6px 6px 0 0 black;
    animation: rand-btn-ani infinite 1s ease;
}

.randomize-button:hover, .randomize-button:active {
    cursor: default;
}

@keyframes rand-btn-ani {
    0% {background-color: $alert-success;}
    20% {background-color: $alert-warning;}
    40% {background-color: $accent-tint;}
    60% {background-color: $alert-error;}
    80% {background-color: $accent-light;}
    100% {background-color: $alert-success;}
}

@media only screen and (max-width: 768px) {
    .bottom-action-container {
        .bottom-action-enter {
            height: 8rem;
        }

        .bottom-action-exit {
            height: 8rem;
        }

        .bottom-button {
            padding: 0.5rem;
            font-size: large;
        }

        .randomize-button {
            padding: 0.5rem;
            font-size: large;
        }
    }
}